.App {
  text-align: center;
}
.Card{
  background: #ffffff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: left;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  z-index: 0;
  position: relative;
  width: 40em;
}

.SearchBar{
  width: 15em;
  height: 2em;
}

.Green{
  color: green;
}
.Red{
  color: red;
}
